body {
    display: flex;
    justify-content: center;
    padding: 50px;
}

#generator {
    width: 600px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 50px;
    background: #ffffff;
    padding: 40px;
    box-shadow:  20px 20px 60px #d9d9d9,
    -20px -20px 60px #ffffff;
}



input,
#bottom-text {
    width: 80%;
    background-color: transparent;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

input:focus {
   border: none;
}
#submit {
    font-size: 20px;
    border: none;
    border-radius: 50px;
    padding: 20px;
    width: 50%;
    box-shadow:  20px 20px 60px #d9d9d9,
    -20px -20px 60px #ffffff;
}

#submit:hover {
    border-radius: 50px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  20px 20px 60px #d9d9d9,
    -20px -20px 60px #ffffff;
    cursor: pointer;
}
label {
    width: 100%;
    justify-self: flex-start;
}

#code {
    margin: 50px;
}

table {
    box-shadow:  20px 20px 60px #d9d9d9,
    -20px -20px 60px #ffffff;
    margin: 50px;
}

.icon-container {
    color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    margin-left: -50px;
}

.icon-container:hover {
    background-color: rgb(196, 196, 196);
} 

.label-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}