body {
  display: flex;
  justify-content: center;
  padding: 50px;
}

a {
  text-decoration: none;
  color: black;
}

.left {
  display: flex;
  width: 50%;
}

#generator {
  width: 600px;
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 50px;
  background: #ffffff;
  padding: 0 40px 40px 40px;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  position: relative;
}

.switch-theme-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0 0 20px 0;
  top: 0;
}

.switch-theme {
  display: inline;
  border-radius: 0px;
  font-size: 20px;
  border: none;
  padding: 20px;
  width: 25%;
  text-align: center;
  height: 100%;
  transition: all .2s;
}
.switch-theme:hover {
  background-color: aliceblue;
  cursor: pointer;
  background: #e0e0e0;
  box-shadow: inset 20px 20px 60px #bebebe,
            inset -20px -20px 60px #ffffff;
}

.popup {
  background-color: rgb(245, 245, 245);
  position: absolute;
  left: 400px;
  width: 300px;
  height: 200px;
  display: none;
  justify-self: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.popup-input {
  width: 80%;
  border-radius: 20px;
  padding: 5px;
  margin: 10px;
}

.popup-label {
  width: 100%;
  display: block;
  text-align: center;
}
.popup-button {
  padding: 5px;
}

.typography-close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.close:hover {
  background-color: rgb(207, 207, 207);
}

.form-input {
  width: 80%;
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

input:focus {
  border: none;
}
.button {
  font-size: 20px;
  border: none;
  border-radius: 50px;
  padding: 20px;
  width: 50%;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.button:hover {
  border-radius: 50px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  cursor: pointer;
}
label {
  width: 100%;
  justify-self: flex-start;
}

#code {
  margin: 50px;
}

.table-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

table {
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  margin: 50px;
}

.icon-container {
  color: red;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  margin-left: -50px;
  transition: all .2s;
}

.icon-container:hover {
  background-color: rgb(196, 196, 196);
}

.label-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.code-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
