#generator-container {
    position: absolute;
    left: 50%;
}

#generator {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 50px;
    background: #ffffff;
    position: absolute;
    left: 50%;
    padding: 40px;
    box-shadow:  20px 20px 60px #d9d9d9,
    -20px -20px 60px #ffffff;
}



input,
#bottom-text {
    width: 80%;
    background-color: transparent;
    
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

input:focus {
   border: none;
}
#submit {
    font-size: 20px;
    border: none;
    border-radius: 50px;
    padding: 20px;
    width: 30%;
    box-shadow:  20px 20px 60px #d9d9d9,
    -20px -20px 60px #ffffff;
}

#submit:hover {
    border-radius: 50px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  20px 20px 60px #d9d9d9,
    -20px -20px 60px #ffffff;
    cursor: pointer;
}
label {
    width: 100%;
}

#code {
    margin: 50px;
}

table {
    box-shadow:  20px 20px 60px #d9d9d9,
    -20px -20px 60px #ffffff;
    margin: 50px;
}
