:root {
  --main-color: #0562f8;
  --netsendo: #5d2772;
  --netsendo-secondary: #cae01c;
  --ecat: #0E1A32;
  --ecat-secondary: #0563F9;
  --aderlo: #005582;
  --aderlo-secondary: #F58130;
  --bd: #29225C;
  --bd-secondary: #41B8FE;
}

body {
  display: flex;
  justify-content: center;
  padding: 50px;
}

h1 {
  width: 100%;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.left {
  display: flex;
  width: 50%;
}

#generator {
  width: 450px;
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 50px;
  background: #ffffff;
  padding: 0 40px 40px 40px;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  position: relative;
}

.switch-theme-container {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: center;
  width: 100%;
  padding: 0 0 20px 0;
  top: 0;
}

.theme-switcher-active {
  width: 25%;
  background-color: var(--main-color);
  display: inline;
  border-radius: 50px;
  font-size: 15px;
  border: none;
  padding: 10px 10px;
  text-align: center;
  height: 100%;
  transition: all .2s;
  color: white;
  margin: 15px 5px;
}
.theme-switcher-active {
  border-radius: 50px;
  background: #0060fa;
  box-shadow: inset 20px 20px 60px #02378b,
              inset -20px -20px 60px #4294ff;
}

.switch-theme {
  width: 25%;
  background-color: var(--main-color);
  display: inline;
  border-radius: 50px;
  font-size: 15px;
  border: none;
  padding: 10px 10px;
  text-align: center;
  height: 100%;
  transition: all .2s;
  color: white;
  margin: 15px 5px;
}
.switch-theme:hover,
.popup-button:hover {
  cursor: pointer;
  border-radius: 50px;
  background: #0562f8;
  box-shadow: inset 20px 20px 60px #0453d3,
              inset -20px -20px 60px #0671ff;
}

.popup-button {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#name-typography-font-color, 
#position-typography-font-color {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  background-color: rgb(245, 245, 245);
  position: absolute;
  left: 400px;
  width: 300px;
  min-height: 300px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.popup-input {
  width: 80%;
  border-radius: 20px;
  padding: 5px;
  margin: 10px;
}

.popup-label {
  width: 100%;
  display: block;
  text-align: center;
}

.typography-close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.close:hover {
  background-color: rgb(207, 207, 207);
}

.form-input,
.popup-input,
textarea,
select {
  width: 80%;
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid #e4e4e4;
  padding: 10px;
  margin: 10px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
.button {
  transition: all .2s;
  font-size: 20px;
  border: none;
  border-radius: 50px;
  padding: 20px;
  width: 50%;
  background-color: var(--main-color);
  color: #fff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.button:hover {
  cursor: pointer;
  border-radius: 50px;
  background: #0562f8;
  box-shadow: inset 20px 20px 60px #0453d3,
              inset -20px -20px 60px #0671ff;
}
label {
  width: 100%;
  justify-self: flex-start;
}

.left {
  position: absolute;
  left: 200;
}

#code {
  margin: 50px;
  height: 50px;
  width: 50%;
}

.table-container {
  position: fixed;
  top: 15%;
  left: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

table {
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  margin: 50px;
}

.icon-container {
  color: var(--main-color);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  margin-left: -50px;
  transition: all .2s;
}

.icon-container:hover:not(#hidden) {
  background-color: rgb(196, 196, 196);
}

#hidden {
  cursor: default;
}

.label-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.code-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
